.grade {
    /*background-color: #699BD0;*/
    background-color: #2B6FB7;
    color: #ffffff;
}

.confirm {
    margin-top: 10px;
    margin-right: 10px;
    background-color: #2B6FB7;
    color: #ffffff;
}

.tab1_query {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #2B6FB7;
    color: #ffffff;
}

.tab2_query {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #2B6FB7;
    color: #ffffff;
}

.tab3_query {
    margin-bottom:10px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #2B6FB7;
    color: #ffffff;
}

.total {
    width: 1400px;
    border:1px solid #ddd;
}

#componentLocSelect {
    margin-top: 10px;
}

/*td {*/
    /*text-align: center;*/
/*}*/

a:link {
    text-decoration: none;
}

a:active {
     text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


.colStyle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*#treeview1 .badge{*/
    /*margin-left: 220px;*/
/*}*/

/*#treeview1 ul li span:nth-child(6){*/
    /*margin-left: 220px;*/
/*}*/

/*#treeview1 ul li span:nth-child(7){*/
    /*margin-left: 210px;*/
/*}*/

/*
#treeview1 .badge:nth-child(2){
    margin-left: 220px;
}*/

#treeview1 .badge{
    /*margin-right: 220px;*/
    width: 25%;
    color: #312e2e;
    background-color: #dedbdb;
    
}

/*.wryh {*/
    /*font-family: "Microsoft YaHei";*/
/*}*/

/*设置表头样式*/
#myTabContent .th-inner {
    font-family: "Microsoft YaHei";
    background-color: #C4E3F7;/* #DAE8F1;*/
}