<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js">
    </script>
    <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js">
    </script>
    <script th:src="@{/static/js/bootstrap-treeview.js}"></script>
    <script th:src="@{/static/js/backward_common.js}"></script>
    <script th:src="@{/static/js/backward_tab1.js}"></script>
    <script th:src="@{/static/js/backward_tab2.js}"></script>
    <script th:src="@{/static/js/backward_tab3.js}"></script>

    <link th:href="@{/static/css/backward.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/static/css/bootstrap-treeview.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
    <!-- Latest compiled and minified Locales -->
    <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/locale/bootstrap-table-zh-CN.min.js"></script>

    <base target="_self">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache,must-ridate">
    <meta http-equiv="expires" content="0">
    <title>
        逆向查询页面
    </title>

    <script>
    </script>
</head>

<body>

<div>
    <label th:id="inputSeqNo">请输入序列号：</label><input th:type="text" th:name="seqName" th:id="seqNo">
    <input th:id="dependOn" th:class="grade" th:type="button" th:value="按层级展开" th:onclick="initTreeView()">
</div>

<div id="treeViewDiv" th:class="total" style="display:none">
    <div align="right">
        <input th:class="confirm" th:type="button" th:onclick="confirm()" th:value="确认">
    </div>
    <div>
        <div style="width: 50px; display:inline"></div>
        <div style="display:inline" align="right">
            <label style="width:100px">序列号</label>
            <label style="width:100px">物料号</label>
            <label style="width:100px">组件位置描述</label>
            <label style="width:100px">位置号</label>
        </div>
    </div>
    <div id="treeview1">

    </div>
    <div>
        <input th:id="hiddenSeqNo" th:type="hidden" />
    </div>
</div>

<!-- tab标签 -->
<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#tab1" data-toggle="tab">
            装车配置
        </a>
    </li>
    <li>
        <a href="#tab2" data-toggle="tab">
            生产缺陷记录
        </a>
    </li>
    <li>
        <a href="#tab3" data-toggle="tab">
            现场故障标签
        </a>
    </li>
</ul>
<!-- 每个tab页对应的内容 -->
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="tab1">
        <div align="right">
            <input th:type="button" th:value="查询" th:class="tab1_query" th:onclick="tab1_query_button()">
        </div>
        <div>
            <table id="table1">

            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="tab2">
        <div align="right">
            <input th:type="button" th:value="查询" th:class="tab2_query" th:onclick="tab2_query_button()">
        </div>
        <div>
            <table id="table2">

            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="tab3">
        <div align="right">
            <input th:type="button" th:value="查询" th:class="tab3_query" th:onclick="tab3_query_button()">
        </div>
        <div>
            <table id="table3">

            </table>
        </div>
    </div>
</div>

</body>

</html>