<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
   <!-- <script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js">
    </script>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js">
    </script>
   -->

    <!-- bootstrap table -->
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">
    &lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;
    <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
    &lt;!&ndash; Latest compiled and minified Locales &ndash;&gt;
    <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/locale/bootstrap-table-zh-CN.min.js"></script>

    &lt;!&ndash; select2 &ndash;&gt;
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>-->

    <script th:src="@{/static/js/jquery-2.2.4.js}"></script>
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/static/js/bootstrap.js}"></script>

    <!-- bootstrap table -->
    <link th:href="@{/static/css/bootstrap-table.min.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/static/js/bootstrap-table.min.js}"></script>
    <script th:src="@{/static/js/bootstrap-table-zh-CN.min.js}"></script>

    <!-- select2 -->
    <link th:href="@{/static/css/select2.min.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/static/js/select2.min.js}"></script>

    <link th:href="@{/static/css/spop.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/static/css/bootstrap-treeview.css}" rel="stylesheet" type="text/css">

    <script th:src="@{/static/js/bootstrap-treeview.js}"></script>
    <script th:src="@{/static/js/backward_common.js}"></script>
    <script th:src="@{/static/js/backward_tab1.js}"></script>
    <script th:src="@{/static/js/backward_tab2.js}"></script>
    <script th:src="@{/static/js/backward_tab3.js}"></script>
    <script th:src="@{/static/js/spop.js}"></script>

    <link th:href="@{/static/css/backward.css}" rel="stylesheet" type="text/css">

    <base target="_self">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache,must-ridate">
    <meta http-equiv="expires" content="0">
    <title>
        逆向查询页面
    </title>

    <script>
    </script>
</head>

<body style="background-color:#f5f5f5;">

<!--<div style="margin-left: 20px;margin-top: 20px;">
    <h5><a href="/">首页</a></h5>
</div>-->

<div style="width:1105px;margin-left: 30px;margin-top:20px;">
    <div style="width:500px;">
        <a th:title="中车株洲电力机车研究所有限公司" href="/">
            <img th:src="@{/static/img/zhongchezhuzhou.jpg}" alt="中车株洲电力机车研究所有限公司" style="border-width:0px;">
        </a>
    </div>
</div>

<hr style="height:10px;border:none;border-top:10px groove skyblue;"/>

<div style="margin-left: 20px;margin-right: 20px;">
    <div>
        <label th:id="inputSeqNo" style="font-family: 'Microsoft YaHei'; font-size: 20px;">请输入序列号：</label><input th:type="text" style="height: 30px;" th:name="seqName" th:id="seqNo">
        <!--data-toggle="modal" data-target="#myModal"-->
        <button th:id="dependOn" style="height: 30px;font-weight: 700;" th:class="grade" th:onclick="initTreeView()" >按层级展开</button>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 1500px;">
        <div class="modal-content">
            <div class="modal-header">
                <label style="font-weight: 900;">请选择</label>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div align="right">
                    <button th:class="confirm" th:onclick="confirm()" style="font-family: 'Microsoft YaHei';height: 30px;font-weight: 700;">确认</button>
                </div>
                <div id="treeViewDiv" th:class="total">

                    <div>
                        <div style="width: 50px; display:inline"></div>
                        <div style="display:inline" align="right">
                            <label style="width:100px;font-family: 'Microsoft YaHei';font-weight: 700;">序列号</label>
                            <label style="width:300px;font-family: 'Microsoft YaHei';font-weight: 700;">物料号</label>
                            <label style="width:360px;font-family: 'Microsoft YaHei';font-weight: 700;">物料描述</label>
                            <label style="width:400px;font-family: 'Microsoft YaHei';font-weight: 700;">位置号</label>
                        </div>
                    </div>
                    <div id="treeview1">

                    </div>
                    <div>
                        <input th:id="hiddenSeqNo" th:type="hidden" />
                    </div>
                </div>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary">
                    提交更改
                </button>
            </div>-->
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<div style="margin: 20px;">

    <!-- tab标签 -->
    <ul id="myTab" class="nav nav-tabs">
        <li id="tab_1" class="active">
            <a href="#tab1" data-toggle="tab">

                <font style="font-family: 'Microsoft YaHei';font-weight: 700;">装车配置</font>

            </a>
        </li>
        <li id="tab_2">
            <a href="#tab2" data-toggle="tab" style="font-family: 'Microsoft YaHei';font-weight: 700;">
                生产缺陷记录
            </a>
        </li>
        <li id="tab_3">
            <a href="#tab3" data-toggle="tab" style="font-family: 'Microsoft YaHei';font-weight: 700;">
                现场故障标签
            </a>
        </li>
    </ul>
    <!-- 每个tab页对应的内容 -->
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
            <div align="right">
                <select th:id="componentLocSelect" class="js-example-templating js-states form-control" multiple="multiple">

                </select>
                <button th:class="tab1_query" th:onclick="backward_tab1_query_button()" style="height: 30px;font-weight: 700;">查询</button>
            </div>
            <div>
                <table id="table1">

                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="tab2">
            <div align="right">
                <button th:class="tab2_query" th:onclick="backward_tab2_query_button()" style="height: 30px;font-weight: 700;">查询</button>
            </div>
            <div>
                <table id="table2">

                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="tab3">
            <div align="right">
                <button th:class="tab3_query" th:onclick="backward_tab3_query_button()" style="height: 30px;font-weight: 700;">查询</button>
            </div>
            <div>
                <table id="table3">

                </table>
            </div>
        </div>
    </div>
</div>


<!--<ul class="nav nav-tabs">
    <li class="active"><a href="#" data-target="#t1" data-toggle="tab">tab1</a></li>
    <li><a href="#" data-target="#t2" data-toggle="tab">tab2</a></li>
    <li><a href="#" data-target="#t3" data-toggle="tab">tab3</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="t1">11111</div>
    <div class="tab-pane" id="t2">22222</div>
    <div class="tab-pane" id="t3">33333</div>
</div>-->

</body>

</html>