<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body style="background-color:#f5f5f5;">

<div style="width:1105px;margin-top:26px;">
    <div style="margin-left: 280px;">
        <img th:src="@{/static/img/zhongchezhuzhou.jpg}" alt="中车株洲电力机车研究所有限公司" style="border-width:0px;" />
        <img th:src="@{/static/img/zlzsxt.jpg}" style="border-width:0px;" />
    </div>
</div>

<div style="margin-left: 280px;margin-top: 69px;">
    <table>
        <tr>
            <td style="border: 1px solid black;">
                <a href="/backward/backwardTab">
                    <img th:src="@{/static/img/backward.jpg}" th:alt="逆向查询" style="border-width:0px;">
                </a>
            </td>
            <td style="border: 1px solid black;">
                <a href="/forward/getLinkForwardPage">
                    <img th:src="@{/static/img/forward.jpg}" th:alt="正向查询" style="border-width:0px;">
                </a>
            </td>
            <td style="border: 1px solid black;width: 310px;height: 189px;" align="center">
                待补充
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid black;width: 310px;height: 189px;" align="center">
                待补充
            </td>
            <td style="border: 1px solid black;width: 310px;height: 189px;" align="center">
                待补充
            </td>
            <td style="border: 1px solid black;width: 310px;height: 189px;" align="center">
                。。。
            </td>
        </tr>
    </table>
</div>

<!--<div>
    <img th:src="@{/static/img/zhongchezhuzhou.jpg}" alt="中车株洲电力机车研究所有限公司" style="border-width:0px;" />
    <img th:src="@{/static/img/zlzsxt.jpg}" style="border-width:0px;" />
</div>-->
<!--<div>
    <div align="center">
        <a href="/forward/getLinkForwardPage"><h3>正向追溯页面</h3></a>
    </div>
    <div align="center">
        <a href="/backward/backwardTab"><h3>逆向追溯页面</h3></a>
    </div>
</div>-->

</body>
</html>