<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

   <!-- <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script th:src="@{/static/js/jquery-2.2.4.js}"></script>
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/static/js/bootstrap.js}"></script>
 <!--    <script src="../jquery-3.2.1.min.js"></script>-->
<!--    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">-->
   <!-- <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>-->
   <!-- jquery-ui-->
    <link th:href="@{/static/css/jquery-ui.min.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/static/js/jquery-ui.min.js}"></script>
    <!--forward_tab2-->
    <script th:src="@{/static/js/forward.js}"></script>
    <script th:src="@{/static/js/forward_tab2.js}"></script>
    <script th:src="@{/static/js/forward_tab3.js}"></script>
    <!-- bootstrap table -->
    <link th:href="@{/static/css/bootstrap-table.min.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/static/js/bootstrap-table.min.js}"></script>
    <script th:src="@{/static/js/bootstrap-table-zh-CN.min.js}"></script>

    <link th:href="@{/static/css/backward.css}" rel="stylesheet" type="text/css">

    <script th:src="@{/static/js/spop.js}"></script>

    <link th:href="@{/static/css/spop.css}" rel="stylesheet" type="text/css">

    <meta charset="UTF-8">

    <title>正向查询页面</title>
</head>
<body style="background-color:#f5f5f5;">
<div style="width:1105px;margin:0 auto;margin-top:26px;">
    <div style="width:500px;">
        <a th:title="中车株洲电力机车研究所有限公司" href="/">
            <img th:src="@{/static/img/zhongchezhuzhou.jpg}" alt="中车株洲电力机车研究所有限公司" style="border-width:0px;">
        </a>
    </div>
</div>

<hr style="height:10px;border:none;border-top:10px groove skyblue;"/>

    <div class="form-group" style="height: 120px;margin-left: 20px;margin-right: 20px;" id="search1">
        <div  class="row head" style="margin-top: 13px">

            <div class="col-lg-10">
                <label class="col-md-1 control-label" style="margin-top: 5px;width: 104px">物料编码</label>
                <div class="input-group" style="display: inline-block;float: left;margin-left: 12px">
                    <input type="text" class="form-control" placeholder="请输入值"  style="width: 150px;height:30px;" id="serach" th:value="${fGzpthwzbm}">
                    <span class="input-group-addon btn btn-default"style="width: 20px;" data-toggle="modal" data-target="#myModal" onclick="getSearchValue()">
                                 <span class="glyphicon glyphicon-search"></span>
                            </span>
                </div>
                <div style="display: inline-block;margin-left: 20px;float: left;"> <button type="button" class="grade" style="height: 30px" th:onclick="tab1_query_button()">查询</button></div>
                <div style="display: inline-block;margin-left: 20px;float: left;"> <button type="button" class="grade" style="height: 30px" onclick="reSetMessage()">重置</button></div>
            </div>

            <div  class="row head" style="margin-top: 50px;">

                <div class="col-lg-10">
                  <label class="col-md-1 control-label" style="margin-top: 5px;width: 100px;margin-left: 13px">时间范围从</label>
                    <div class="input-group" style="display: inline-block;float: left;margin-left: 18px">

                        <input type="text" class="form-control" placeholder="" style="width: 150px;height:30px;" id="from" name="from">


                    </div>

                    <label class="col-md-1 control-label;" style="margin-top: 5px;width: 100px;margin-left: 50px">时间范围至</label>
                    <div class="input-group" style="display: inline-block;float: left;margin-left: 23px">

                        <input type="text" class="form-control" placeholder="" style="width: 150px;height:30px;" id="to" name="to" >

                    </div>
                </div>
                <div style="display: none"><span id="hiddenValue"></span></div>
        </div>
<!--
        <div>
        <div style="margin-left: 0px;margin-top: 25px;"><label for="from" class="col-md-1 control-label" style="margin-top: 5px;margin-right: -22px">时间范围从</label>
            <input type="text" id="from1" name="from" class="form-control" style="width: 150px;height:30px;margin-right: 100px;display: inline-block">
            <div style="display: inline-block;margin-left: -50px">
            <label for="from" class="col-md-5 control-label" style="margin-top: 5px;margin-right: -22px;">时间范围至</label>
            <input type="text" id="t1o" name="to" class="form-control" style="width: 150px;height:30px;margin-right: 100px">
                </div>
        </div>

            </div>-->

      <div>
      </div>
    </div>



    <div class="modal fade"  id="myModal" aria-hidden="true"  style="margin-left: 20px;margin-right: 20px;">

        <div class="modal-dialog" style="width: 600px;">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal"

                            aria-hidden="true">×

                    </button>

                    <div  style="border-top:1px solid;margin-top: 20px;height: 70px;margin-left: 7px">
                        <form   style="margin-top:13px">
                            <div class="input-group">
                                <span style="display:inline-block;margin-right: 15px;font-weight: 900;">物料编码</span>
                                <input type="text"  placeholder=""  id="test">
                                <button type="button" style="margin-left: 10px;background-color: #699BD0;color: #ffffff" onclick="tab3_query_button()">查询</button>
                                <button type="button" style="margin-left: 10px;background: #699BD0;color: #ffffff" data-dismiss="modal" onclick="getValue1()">确认</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab3">

                            <table id="table3">

                            </table>
                        </div>
                  <!--      <table class="table table-condensed" id="table">

                            <thead>
                            <tr>
                                <td>物料编码</td>
                                <td>物料描述</td>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td style="width: 150px">
                                    <input type="checkbox" name="inlineCheckbox1" value="option1"><span>选项一</span>

                                </td>

                                <td><span>Bangalore</span></td>
                            </tr>
                            <tr>
                                <td style=" width: 150px">
                                    <input type="checkbox" name="inlineCheckbox1" value="option2"> 选项2
                                </td>

                                <td>Mumbai</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="inlineCheckbox1" value="option3"> 选项3
                                </td>

                                <td>Pune</td>

                            </tr>

                            </tbody>
                        </table>-->
                    </div>

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-default"

                            data-dismiss="modal">关闭

                    </button>

                </div>

            </div><!-- /.modal-content -->

        </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->

    </div><!-- /.modal -->
    <div class="modal fade"  id="myModal1" aria-hidden="true"  style="margin-left: 20px;margin-right: 20px;">

        <div class="modal-dialog" style="width: 1500px;">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal"

                            aria-hidden="true">×

                    </button>


                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab2">

                            <table id="table2">

                            </table>
                        </div>
                        <!--      <table class="table table-condensed" id="table">

                                  <thead>
                                  <tr>
                                      <td>物料编码</td>
                                      <td>物料描述</td>
                                  </tr>
                                  </thead>
                                  <tbody>

                                  <tr>
                                      <td style="width: 150px">
                                          <input type="checkbox" name="inlineCheckbox1" value="option1"><span>选项一</span>

                                      </td>

                                      <td><span>Bangalore</span></td>
                                  </tr>
                                  <tr>
                                      <td style=" width: 150px">
                                          <input type="checkbox" name="inlineCheckbox1" value="option2"> 选项2
                                      </td>

                                      <td>Mumbai</td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <input type="checkbox" name="inlineCheckbox1" value="option3"> 选项3
                                      </td>

                                      <td>Pune</td>

                                  </tr>

                                  </tbody>
                              </table>-->
                    </div>

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-default"

                            data-dismiss="modal">关闭

                    </button>

                </div>

            </div><!-- /.modal-content -->

        </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->

    </div><!-- /.modal -->
    <div class="tab-content"  style="margin-left: 20px;margin-right: 20px;">
                <!--<table id="table1">

                </table>-->
        <!--第一个查询表格-->
        <div class="tab-pane fade in active" id="tab1">
            <table id="table1">

            </table>
        </div>
        <!--第二个查询表格-->
       <!-- <div class="tab-pane fade in active" id="tab2">

                <table id="table2">

                </table>

        </div>-->
    </div>
        </div>
    </div>


</body>
<script th:src="@{/static/laydate/laydate.js}"></script>

<script type="text/javascript">


    laydate.render({
        elem: '#from',
        type: 'datetime',
        trigger: 'click'
    });

    laydate.render({
        elem: '#to',
        type: 'datetime',
        trigger: 'click'
    });
    function getSearchValue() {
        var searchValue=$("#serach").val();
        $("#test").val(searchValue);
    }
/*    function person(){
        var gg = $("#test").val();

        $.ajax({
            url:"/forward/getMaterialcode",
            method: "post",
            datatype:"json",
            data: {
                id:gg
            },
            success: function (jsonStr) {

                //状态判断
                if (jsonStr !=null) {

                    $('#table tr:gt(0)').remove();
                    var s="";
                    for (var i in jsonStr) {
                        s += "<tr><td style=\"width: 150px\"><label class=\"checkbox-inline\"><input type='checkbox' name='inlineCheckbox1' value='" +i+ "'onClick='chooseOne(this)'>" +i+ "</label></td>\n<td>" +i+ "</td></tr>"
                        ;

                    }
                    $('#table').append(s);
                    document.getElementById('aa').style.display = 'block';

                }else{
                    alert("修改失败");
                    window.location.reload();
                }
            }
        });



    }*/
    function getValue1(obj) {

        var gg =document.getElementsByName("inlineCheckbox1");

        for(var i=0;i<gg.length;i++){
            if(gg[i].checked){
                $("#serach").val(gg[i].value);

            }
        }

    }
    function  reSetMessage() {
        $("#serach").val("");
        $("#from").val("");
        $("#to").val("");
        $("#hiddenValue").val("");
    }
  function chooseOne(obj,fGzpmc){

      var gg= document.getElementsByName("inlineCheckbox1");
      for(var i=0;i<gg.length;i++){
          if(gg[i]!=obj) {

              gg[i].checked = false;
          }
      else gg[i].checked = true;

          $("#hiddenValue").val(fGzpmc);

      }
  }
    jQuery(document).ready(function() {

        jQuery("#ccc input[type='checkbox']").click(function() {
            if (jQuery(this).attr("checked") == true) {
                jQuery("#ccc input[type='checkbox']").attr("checked", false);
                jQuery(this).attr("checked", true);
            }
        });
    });
    $(function() {
        $("#test1").click(function () {
            $("#from").datepicker("show");
        });
        $("#test2").click(function () {
            $("#to").datepicker("show");
        });
        /* $( "#from" ).datepicker({
             defaultDate: "+1w",
             changeMonth: true,
             numberOfMonths: 1,
             onClose: function( selectedDate ) {
                 $( "#to" ).datepicker( "option", "minDate", selectedDate );
             }
         });*/
       /* $("#from").datepicker({//添加日期选择功能datetimepicker
            numberOfMonths:1,//显示几个月
            showButtonPanel:true,//是否显示按钮面板

            dateFormat: 'yy-mm-dd',//日期格式

            clearText:"清除",//清除日期的按钮名称
            closeText:"关闭",//关闭选择框的按钮名称
            yearSuffix: '年', //年的后缀
            currentText: '今天',
            changeYear:true,//通过select选择年
            //changeMonth:true,
            showMonthAfterYear:true,//是否把月放在年的后面
            yearRange : '-20:+0',
            // defaultDate:'2011-03-10',//默认日期
            //minDate:'2011-03-05',//最小日期
            // maxDate:'2011-03-20',//最大日期
            monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
            dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
            dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
            dayNamesMin: ['日','一','二','三','四','五','六'],
            // onSelect: function(selectedDate) {//选择日期后执行的操作
            //    alert(selectedDate);
            // }
            onSelect: function( startDate ) {
                var $startDate = $( "#from" );
                var $endDate = $('#to');
                var endDate = $endDate.datepicker( 'getDate' );
                if(endDate < startDate){
                    $endDate.datepicker('setDate', startDate - 3600*1000*24);
                }
                $endDate.datepicker( "option", "minDate", startDate );
            }
        });
        $( "#to" ).datepicker({
            /!*defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths:1,
            onClose: function( selectedDate ) {
                $( "#from" ).datepicker( "option", "maxDate", selectedDate );
            }*!/
            numberOfMonths:1,//显示几个月
            showButtonPanel:true,//是否显示按钮面板
            dateFormat: 'yy-mm-dd',//日期格式
            clearText:"清除",//清除日期的按钮名称
            closeText:"关闭",//关闭选择框的按钮名称
            yearSuffix: '年', //年的后缀
            currentText: '今天',
            yearRange : '-20:+0',
            changeYear:true,//通过select选择年
            showMonthAfterYear:true,//是否把月放在年的后面
            // defaultDate:'2011-03-10',//默认日期
            //minDate:'2011-03-05',//最小日期
            //maxDate:'2011-03-20',//最大日期
            monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
            dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
            dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
            dayNamesMin: ['日','一','二','三','四','五','六'],
            //onSelect: function(selectedDate) {//选择日期后执行的操作
            //    alert(selectedDate);
            // }
            onSelect: function( endDate ) {
                var $startDate = $( "#from" );
                var $endDate = $('#to');
                var startDate = $startDate.datepicker( "getDate" );
                if(endDate < startDate){
                    $startDate.datepicker('setDate', startDate + 3600*1000*24);
                }
                $startDate.datepicker( "option", "maxDate", endDate );
            }
        });
        //点击今日  自动输入日期
        $.datepicker._gotoToday = function (id) {
            var target = $(id);
            var inst = this._getInst(target[0]);
            if (this._get(inst, 'gotoCurrent') && inst.currentDay) {
                inst.selectedDay = inst.currentDay;
                inst.drawMonth = inst.selectedMonth = inst.currentMonth;
                inst.drawYear = inst.selectedYear = inst.currentYear;
            }
            else {
                var date = new Date();
                inst.selectedDay = date.getDate();
                inst.drawMonth = inst.selectedMonth = date.getMonth();
                inst.drawYear = inst.selectedYear = date.getFullYear();
                this._setDateDatepicker(target, date);
                this._selectDate(id, this._getDateDatepicker(target));
            }
            this._notifyChange(inst);
            this._adjustDate(target);
        }*/
    });
</script>
</html>