<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js">
    </script>
    <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js">
    </script>
    <script th:src="@{/static/js/bootstrap-treeview.js}"></script>

    <link th:href="@{/static/css/bootstrap-treeview.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <base target="_self">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache,must-ridate">
    <meta http-equiv="expires" content="0">
    <title>
        逆向查询页面
    </title>

    <script>
        var defaultData = [
            {
                text: 'Parent 1',
                href: '#parent1',
                tags: ['4'],
                nodes: [
                    {
                        text: 'Child 1',
                        href: '#child1',
                        tags: ['2'],
                        nodes: [
                            {
                                text: 'Grandchild 1',
                                href: '#grandchild1',
                                tags: ['0']
                            },
                            {
                                text: 'Grandchild 2',
                                href: '#grandchild2',
                                tags: ['0']
                            }
                        ]
                    },
                    {
                        text: 'Child 2',
                        href: '#child2',
                        tags: ['0']
                    }
                ]
            },
            {
                text: 'Parent 2',
                href: '#parent2',
                tags: ['0']
            },
        ];
        console.log("treeView1"+$("treeview1").text());
        console.log(defaultData);
        // debugger
        $(function() {
            $('#treeview1').treeview({
                data: defaultData
            });
        })

    </script>
</head>

<body>

<div id="treeview1">

</div>

<!-- tab标签 -->
<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#home" data-toggle="tab">
            Microsoft
        </a>
    </li>
    <li>
        <a href="#ios" data-toggle="tab">
            NET CORE
        </a>
    </li>
</ul>
<!-- 每个tab页对应的内容 -->
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="home">
        <p>
            微软，是一家美国跨国科技公司，也是世界PC（Personal Computer，个人计算机）软件开发的先导，由比尔·盖茨与保罗·艾伦创办于1975年，公司总部设立在华盛顿州的雷德蒙德（Redmond，邻近西雅图）。以研发、制造、授权和提供广泛的电脑软件服务业务为主。
        </p>
    </div>
    <div class="tab-pane fade" id="ios">
        <p>
            NET CORE 是一个由微软公司开发和发布的跨平台框架。
        </p>
    </div>
</div>

</body>

</html>