<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js">
    </script>
    <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js">
    </script>
    <script th:src="@{/static/js/bootstrap-treeview.js}"></script>

    <link th:href="@{/static/css/bootstrap-treeview.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <base target="_self">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache,must-ridate">
    <meta http-equiv="expires" content="0">
    <title>
        逆向查询页面
    </title>

    <script>
        var defaultData;
        $(function() {
            $.ajax({
                type: "post",
                url: "http://localhost:8081/backward/getTreeList",
                dataType: "json",
                success: function (result) {
                    defaultData=result;
                    console.log("defaultData:"+defaultData);
                    $('#treeview1').treeview({
                        data: defaultData,
                        showCheckbox: true,
                        onNodeSelected:function(event, data) {
                            // 事件代码...
                            console.log("被选中");
                        },
                        onNodeChecked: function(event, data) {
                            console.log("被勾选checked");
                        }
                    });

                },
                error: function () {
                    alert("按层级加载失败")
                }
            });

        })

    </script>
</head>

<body>

<div>
    请输入序列号：<input th:type="text" th:name="seq">
    <input th:type="button" th:value="按层级展开">
</div>

<div id="treeview1">

</div>

<!-- tab标签 -->
<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#tab1" data-toggle="tab">
            装车配置
        </a>
    </li>
    <li>
        <a href="#tab2" data-toggle="tab">
            生产缺陷记录
        </a>
    </li>
    <li>
        <a href="#tab3" data-toggle="tab">
            现场故障标签
        </a>
    </li>
</ul>
<!-- 每个tab页对应的内容 -->
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="tab1">
        <p>

        </p>
    </div>
    <div class="tab-pane fade" id="tab2">
        <p>

        </p>
    </div>
    <div class="tab-pane fade" id="tab3">
        <p>
            sdf
        </p>
    </div>
</div>

</body>

</html>